<div class="animate__animated animate__fadeIn">
  <div class="titulo"> GESTIÓN DE ACTIVIDADES</div>

<div class="container elevacion">


  <mat-tab-group >
    <mat-tab label="JNI">
      <app-jniactividad></app-jniactividad>
    </mat-tab>
    <mat-tab label="MNI">
      <app-mniactividad></app-mniactividad>
    </mat-tab>
    <mat-tab label="DNI">
      <app-dniactividad></app-dniactividad>
    </mat-tab>
    <mat-tab label="EXTERNOS">
      <app-externaactividad></app-externaactividad>
    </mat-tab>
    <mat-tab label="CREAR ACTIVIDAD">
      <app-crearactividad></app-crearactividad>
    </mat-tab>

  </mat-tab-group>
</div>
</div>
