<div class="animate__animated animate__fadeIn delay_4">


  <section class="bg_titulo">
    <h3 class="titulo"> JNI </h3>
    <h6 class="bloque_sub">
      <!-- <p class="sub_titulo">
        JUVENTUD NAZARENA INTERNACIONAL
      </p> -->
      <p class="sub_titulo verso">
        JUVENTUD NAZARENA INTERNACIONAL

      </p>
    </h6>
  </section>

  <!-- <div class="bgtitulo">
    <h3 class="titulo">JNI</h3>
    <span class="subtitulo"><span>jUVENTUD NAZARENA INTERNACIONAL</span></span>
  </div> -->

  <div class="presentacionjni centrado">
    <p>La Juventud Nazarena Internacional <b>(JNI) </b> es el grupo
       de jóvenes nazarenos trabajando, divirtiéndose  y
        adorando juntos a Dios. Puede estar tanto en una
         pequeña iglesia, como en una grande, en el campo o
          en la ciudad.  Existe para alcanzar y guiar a los
          jóvenes hacia una relación con Dios que perdure
          toda la vida. Simplemente la <b class="negrita">JNI eres tú!</b></p>
  </div>

  <div class="custom-shape-divider-bottom-1657077939">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>

  <div class="versiculo">
    <p class="textoblanco">Que nadie te menosprecie por ser joven. Al contrario,
       que los creyentes vean en ti un ejemplo a seguir
       en la manera de hablar, en la conducta,
       y en el amor, fe y pureza
    </p>
    <b class="cita textoblanco">1ra Timoteo 4:12</b>
  </div>


  <div class="custom-shape-divider-top-1657077479">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>

  <div class="contiene">
    <div class="bloque">
      <span class="material-icons">
        landscape
      </span>
      <div class="titulograde centrado">MISIÓN</div>
      <div class="texto centrado">
        <p>La misión de la Juventud Nazarena Internacional (JNI) es llamar a nuestra
          generación a una vida dinámica en Cristo.</p>
      </div>
    </div>

    <!-- <div class="mitad"><hr></div> -->


    <div class="bloque">
      <span class="material-icons">
        wb_incandescent
      </span>

      <div class="titulograde centrado">VISIÓN</div>
      <div class="texto centrado">
        <p>La Iglesia del Nazareno cree que los jóvenes forman una parte integral de la iglesia.
          La JNI existe para guiar a los jóvenes hacia una relación con Cristo que perdure toda la vida
          y para facilitar su crecimiento como discípulos en el servicio cristiano.</p>
      </div>
    </div>
  </div>


  <!-- <div class="custom-shape-divider-bottom-1657077939">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div> -->

<div class="custom-shape-divider-bottom-1657119957">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
  </svg>
</div>

  <div class="bloque1">
    <div class="">
      <div class="titulograde">NUESTROS MIEMBROS</div>
      <div class="texto ">
        <p>La Iglesia del Nazareno cree que los
          jóvenes forman una parte integral de la iglesia.
        </p>
      </div>
    </div>
    <div >
      <img class="imagen imgjoven" src="/assets/imagenes/jovenes_img3-removebg-preview.png" alt="">
    </div>
  </div>


  <div class="custom-shape-divider-top-1657138546">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
    </svg>
  </div>
<!--
  <div class="custom-shape-divider-top-1657120055">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
</div> -->

  <!-- <div class="mitad"><hr></div> -->


  <div class="titulograde valores">VALORES</div>

  <ol class="lista">
    <li class="itemlist">Valoramos a los <b>Jóvenes</b>: personas importantes en el reino de Dios.</li>
    <li class="itemlist">Valoramos la <b>Biblia</b>: la verdad inmutable de Dios para nuestra vida.</li>
    <li class="itemlist">Valoramos la <b>Oración</b>: la comunicación vital interactiva con nuestro Padre celestial.</li>
    <li class="itemlist">Valoramos a la <b>Iglesia</b>: una comunidad de santidad global de fe, diversa en culturas, pero una en Cristo.</li>
    <li class="itemlist">Valoramos la <b>Adoración</b>: encuentros con un Dios íntimo que cambian la vida.</li>
    <li class="itemlist">Valoramos el <b>Discipulado</b>: un estilo de vida de semejanza a Cristo.</li>
    <li class="itemlist">Valoramos a la <b>Comunidad</b>: establecer relaciones que contribuyan a la unión entre nosotros y con Dios.</li>
    <li class="itemlist">Valoramos el <b>Ministerio</b>: extender la gracia de Dios a nuestro mundo.</li>
    <li class="itemlist">Valoramos ser <b>Testigos</b>: compartir el amor de Dios en palabras y hechos.</li>
    <li class="itemlist">Valoramos la <b>Santidad</b>: una obra de gracia en la que Dios, por medio de la obra de su Espíritu Santo,
      nos capacita para tener una vida que represente a Cristo en lo que somos y en todo lo que hacemos.</li>
  </ol>

  <div class="custom-shape-divider-bottom-1657079331">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
</div>

  <!-- <div class="mitad"><hr></div> -->


  <div class="bloque1">
    <div class="">
      <img class="imagen imgjoven2" src="/assets/imagenes/jovenes_img-removebg-preview.png" alt="">
    </div>
    <div class="caja1">
      <div class="textoactividades">
        <p>Todas las actividades, reuniones
           y programas que se realiza como
           ministerio responden a un
           llamado de ser y hacer discípulos
           semejantes a Cristo en las
           naciones. No importa tanto el
           lugar donde se realice el
           ministerio, sino lo que hacemos
           y la razón de hacerlo.
        </p>
      </div>
    </div>
  </div>


  <div class="custom-shape-divider-top-1657079385">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
</div>
  <!-- <div class="mitad"><hr></div> -->


  <div class="titulograde valores">ACTIVIDADES</div>

  <ol class="lista">
    <li class="itemlist">Taller de capacitación de lideres</li>
    <li class="itemlist">Campamentos locales, zonales y distritales de jóvenes</li>
    <li class="itemlist">Campamentos locales, zonales y distritales de prejuveniles</li>
    <li class="itemlist">Culto de jóvenes </li>
    <li class="itemlist">Retiro de lideres</li>
    <li class="itemlist">Vigilia</li>
    <li class="itemlist">Torneo bíblico</li>
  </ol>


</div>
