

table{
  width: 50em;
}

.container{
  padding: 1em;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

input{
  border: 0;
}

input:active, input:hover{
  border: 0;
}

.fila{
  display: grid;
  grid-template-columns: 1fr 1fr;
  // padding-bottom: 1em;
  padding: 1em 2em;
}


.radio{
  text-align: center;
}
