


<div class="container animate__animated animate__fadeIn">
  <section class="bg_titulo">
    <h3 class="titulo"> RECURSOS </h3>
    <h6 class="bloque_sub">
      <p class="sub_titulo">
        Que habite en ustedes la palabra de Cristo con toda su riqueza: instrúyanse y
        aconséjense unos a otros con toda sabiduría; canten salmos, himnos y canciones
        espirituales a Dios, con gratitud de corazón.
      </p>
      <p class="sub_titulo verso">
        COLOSENSES 3:16
      </p>
    </h6>
  </section>


  <section class="recursos">
    <mat-card class="card" href="https://play.google.com/store/apps/details?id=com.llamadosasantidad.graciaydevocion" target="_blank">
      <div class="content">

        <div class="center">
          <img class="img_gyd" src="/assets/imagenes/img GyD.jpg" alt="">
        </div>
        <span>himnario Gracia y Devoción</span>
        <div class="item_texto">
          <a mat-stroked-button color="primary" href="https://play.google.com/store/apps/details?id=com.llamadosasantidad.graciaydevocion" target="_blank">descargar </a>
        </div>
      </div>

    </mat-card>

    <mat-card class="card">
      <div class="content">

        <div class="center">
          <img class="img_manual" src="/assets/imagenes/img_manual.jpg" alt="">
        </div>
        <span>Manual de la Iglesia del Nazareno</span>
        <div class="item_texto">
          <a mat-stroked-button color="primary" href="/assets/pdfs/ES_manual_2017-2021-rev2022-02-12.pdf" target="_blank">ver manual </a>      </div>
      </div>

    </mat-card>

  </section>

</div>
