<div class="animate__animated animate__fadeIn">
  <div class="titulo"> GESTIÓN DE PASTORES</div>

<div class="container elevacion fila animate__animated animate__fadeInUp">


  <mat-tab-group>
    <mat-tab label="LOCALES">
      <app-locales></app-locales>
    </mat-tab>
    <mat-tab label="DISTRITALES">
      <app-distritales></app-distritales>
    </mat-tab>
    <mat-tab label="ORDENADOS">
      <app-ordenados></app-ordenados>
    </mat-tab>
    <mat-tab label="CREAR NUEVO PASTOR">
      <app-crearpastor></app-crearpastor>
    </mat-tab>

  </mat-tab-group>
</div>

</div>
