<div class="animate__animated animate__fadeIn">
  <div class="titulo"> BANCO DE DATOS </div>
  <!-- ADMINISTRADOR DE USUARIOS E IGLESIAS  -->
<div class="container elevacion">


  <div class="center">
    <div class="card" [routerLink]="['/login/administrador/dashboardusuario']">
      <span class="material-symbols-outlined">
        manage_accounts
      </span>
      <h4>ADMINISTRADORES</h4>
    </div>

    <div class="card" [routerLink]="['/login/administrador/dashboardiglesia']">
      <span class="material-symbols-outlined">
        church
      </span>
      <h4>IGLESIAS</h4>
    </div>
  </div>
  <!-- <mat-tab-group class="tabs">
    <mat-tab label="Administrador de actividades">
      <app-admiactividades></app-admiactividades>
    </mat-tab>
    <mat-tab label="Administrador de pastores">
      <app-admipastores></app-admipastores>
    </mat-tab>
    <mat-tab label="Crear administrador">
      <app-crearadmin></app-crearadmin>
    </mat-tab>

    <mat-tab label="Iglesias">
      <app-admiiglesias></app-admiiglesias>
    </mat-tab>
    <mat-tab label="Crear Iglesia">
      <app-creariglesia></app-creariglesia>
    </mat-tab>
  </mat-tab-group> -->
</div>

</div>
