<div class="animate__animated animate__fadeIn">

  <div class="container">

    <form class="form elevacion" [formGroup]="form" (change)="isGood()">

      <h3 class="titulo">  CREAR PASTOR </h3>

      <div class="field">
        <label class="label"> CATEGORIA </label>
        <mat-radio-group
          class="radio_group"
          formControlName="category"
          (change)="isGood()"
          >
            <mat-radio-button *ngFor="let cat of categories" [value]=cat>
              <span>{{ cat }}</span>
            </mat-radio-button>
        </mat-radio-group>
      </div>




      <div class="field">
        <label class="label">NOMBRE DE PASTOR </label>
        <mat-form-field class="box_input" appearance="outline">
          <input formControlName="name"
                type="text"
                matInput
                placeholder="nombre"
                class="input"
                >
        </mat-form-field>
      </div>




      <div class="field">
        <label class="label" *ngIf="form.value.category != 'Distrital'"> AÑO DE ORDENACIÓN </label>
        <label class="label" *ngIf="form.value.category == 'Distrital'"> AÑO DE 1RA LICENCIA RECIBIDA </label>
          <mat-form-field class="box_select"  appearance="outline" >
            <mat-select placeholder="año" formControlName="year" (selectionChange)='isGood()' >
              <mat-option *ngFor="let an of ANOS" [value]='an.ano'>
                {{ an.ano }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>


      <div class="field">
        <label class="label">LUGAR DE MEMBRESÍA</label>
          <mat-radio-group class="radio_group"  formControlName="tipomen" [(ngModel)]="pertenece" (change)="choose($event)">
            <mat-radio-button class="example-margin" value="iglesia">Iglesia</mat-radio-button>
            <mat-radio-button class="example-margin" value="otro">Otro</mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="outline" class="box_select animate__animated animate__fadeIn" *ngIf="pertenece == 'iglesia'" >
            <mat-label>iglesia</mat-label>
            <mat-select
                        class="select"
                        formControlName="membresia"
                        (selectionChange)='isGood()'
                         >
              <mat-option *ngFor="let iglesia of IGLESIAS" [value]=iglesia >
                {{ iglesia }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="box_input animate__animated animate__fadeIn" *ngIf="pertenece == 'otro'" >

            <mat-label>especificación</mat-label>
            <input formControlName="membresia"
            type="text"
            matInput
            placeholder="especificacion"
            class="input"
            (change)="isGood()"
            >
          </mat-form-field>
      </div>




      <div class="field">
        <label class="label">LUGAR DE SERVICIO MINISTERIAL</label>
          <mat-radio-group class="radio_group"  formControlName="tipomen" [(ngModel)]="tipolugarmin" (change)="choose1($event)">
            <mat-radio-button class="example-margin" value="iglesia">Iglesia</mat-radio-button>
            <mat-radio-button class="example-margin" value="otro">Otro</mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="outline" class="box_select animate__animated animate__fadeIn" *ngIf="tipolugarmin == 'iglesia'" >
            <mat-label>iglesia</mat-label>
            <mat-select
                        class="select"
                        formControlName="lugardeministerio"
                        (selectionChange)='isGood()'
                         >
              <mat-option *ngFor="let iglesia of IGLESIAS" [value]=iglesia >
                {{ iglesia }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="box_input animate__animated animate__fadeIn" *ngIf="tipolugarmin == 'otro'" >

            <mat-label>Especificación</mat-label>
            <input formControlName="lugardeministerio"
            type="text"
            matInput
            placeholder="especificación"
            class="box_input"
            (change)="isGood()"
            >
          </mat-form-field>
      </div>





    <div class="field">
      <label class="label"> ÁREA </label>
        <mat-form-field class="box_select" appearance="outline" >
          <mat-select  formControlName="area" (selectionChange)='isGood()' placeholder="área">
            <mat-option value="{{item.area}}" *ngFor="let item of AREAS">{{ item.area }} ({{ item.sigla }})</mat-option>
          </mat-select>
        </mat-form-field>
    </div>


    <div class="field" *ngIf="form.value.category == 'Presbitero'">
      <label class="label"> GRADO ACADÉMICO </label>
        <section class="group_checks" [formGroup]="titulosForm">
          <p><mat-checkbox formControlName="diploma_ministerial">DIPLOMA MINISTERIAL</mat-checkbox></p>
          <p><mat-checkbox formControlName="bachiller_en_teologia">BACHILLER EN TEOLOGÍA</mat-checkbox></p>
          <p><mat-checkbox formControlName="licenciatura">LICENCIATURA</mat-checkbox></p>
          <p><mat-checkbox formControlName="maestria">MAESTRÍA</mat-checkbox></p>
          <p><mat-checkbox formControlName="doctorado">DOCTORADO</mat-checkbox></p>
        </section>
    </div>



    <div class="field imagen">
      <label class="label">IMAGEN PASTOR </label>
      <ngx-dropzone (change)="pastorImageSelected($event)">
        <ngx-dropzone-label>Seleccionar imagen!</ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of filesPas" multiple="false" [file]="f">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>

    <div class="field">
      <button mat-raised-button color="primary"
              (click)="alertaPastor()"
              class="boton"
              [disabled]="isDisabled">
              Crear</button>
    </div>
  </form>

  <div class="bg"></div>

</div>

</div>
