<div class="container animate__animated animate__fadeIn">


<section class="bg_titulo">
  <h3 class="titulo"> EN QUE CREEMOS </h3>
  <h6 class="bloque_sub">
    <p class="sub_titulo">
      Como comunidad mundial de fe, tenemos el encargo de llevar las Buenas
      Nuevas de la vida en Jesucristo a las personas de todo el mundo y de difundir
      el mensaje de la santidad bíblica por todos los países.
    </p>
  </h6>



</section>


<section class="creemos">
  <div class="card" style="background-image: url('/assets/imagenes/bg_credo1.jpg')">
    <span class="material-symbols-outlined">
      document_scanner
    </span>
    <h6>
      16 articulos de fe
    </h6>
  </div>
  <div class="card" style="background-image: url('/assets/imagenes/bg_credo2.jpg')">
    <span class="material-symbols-outlined">
      crisis_alert
    </span>
    <h6>
      Declaración de misión
    </h6>
  </div>
  <div class="card" style="background-image: url('/assets/imagenes/bg_credo3.jpg')">
    <span class="material-symbols-outlined">
      shield_with_heart
    </span>
    <h6>
      Valores principales
    </h6>
  </div>
</section>

<section class="mision">
  <div class="card_mision">
    <div class="title_mision">
      DECLARACIÓN DE MISIÓN
    </div>
    <div class="text_mision">
      La misión de la Iglesia del Nazareno es hacer discípulos semejantes
      a Cristo en las naciones.
    </div>
  </div>
</section>



<section class="texto">
    <img class="img_texto" src="/assets/bgs/oracion.jpg" alt="">
    <div class="bloque_text">
      <p>
        Somos una iglesia de la Gran Comisión.
        Como comunidad mundial de fe,
      </p>
      <span class="text_green">
        ESTAMOS COMISIONADOS A LLEVAR LA BUENA NUEVA DE LA VIDA EN JESUCRISTO A TODAS LAS PERSONAS
      </span>
      <span>y difundir el mensaje de la santidad bíblica a través de las tierras.</span>

      <span class="text_morado">
        LA IGLESIA DEL NAZARENO UNE A LOS INDIVIDUOS
      </span>
      <p>que han hecho de Jesucristo Señor de sus vidas, compartiendo la comunión cristiana,</p>
      <p>y buscando fortalecerse unos a otros en el desarrollo de la fe a través de la adoración, la predicación, la capacitación y el servicio a los demás.</p>

      <p>Nos esforzamos por expresar la compasión de Jesucristo a todas las personas junto con nuestro compromiso personal de vivir como Cristo.</p>
      <p>Si bien el motivo principal de la iglesia es glorificar a Dios,</p>
      <span class="text_blue_clear"> NOSOTROS TAMBIÉN ESTAMOS LLAMADOS A PARTICIPAR ACTIVAMENTE EN SU MISIÓN: RECONCILIAR EL MUNDO CONSIGO MISMO.</span>

      <p>La declaración de misión contiene elementos esenciales históricos de nuestra misión:</p>
      <span class="text_orange">
        EVANGELIZACIÓN, SANTIFICACIÓN, DISCIPULADO, COMPASIÓN.
      </span>
      <p>La esencia de la santidad es la semejanza a Cristo.</p>
      <p>Los nazarenos se están convirtiendo en un pueblo enviado a los hogares, lugares de trabajo, comunidades,</p>
      <p>y pueblos, así como otras ciudades y países. Ahora se envían misioneros de todas las regiones del mundo.</p>
      <span class="red_black">
        DIOS SIGUE LLAMANDO A GENTE ORDINARIA A HACER COSAS EXTRAORDINARIAS
      </span>
      <p>hecho posible por la persona del Espíritu Santo.</p>
    </div>
</section>


</div>

<app-footer></app-footer>


