<ng-container *ngIf="isOpen">

<div class="container footer">
  <div class="contacto bgtitulo">
    <div class="primeraparte">

    </div>
    <div class="segundaparte">
      <span class=" textocontacto negrita centrado">CONTACTO</span>
      <div class="negrita direccion">Dirección</div>
      <div class="direccion textocopy">Avenida Monseñor Leónidas Proaño y Río Bulu bulu, barrio San Miguel de TapiAvenida </div>

      <div class="negrita direccion">Teléfono</div>
      <div class="direccion textocopy">+590 3260 4046 </div>

      <div class="negrita direccion">Correo Electrónico</div>
      <div class="direccion textocopy">Contacto@nazarenosdsc.com </div>
    </div>
  </div>
  <div class="derechosreservados centrado">
    <span class="textocopy">Copyrtght© |  Todos los derechos reservados | NAZARENO.COM | HENRY MIRANDA</span>
  </div>
</div>
</ng-container>
